// common css
@import '../variables/color';
@import '../variables/font';

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1185px;
  margin: 0 auto;
}

// ======================
//     nav part start
// ======================

.navPart {
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  margin: 0 auto;

  .navPart__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navPart__leftWithLogo span {
      color: $commonColor;
      font-size: $fontSize;
    }
    .navPart__rightWithMenu ul {
      display: flex;
      align-items: center;
      li {
        margin: 0 22px;
        a {
          color: $paraColor;
          font-weight: $fontWeightReguler;
          transition: 0.4s;
          position: relative;
          &:hover {
            color: $commonColor;
          }

          &::after {
            position: absolute;
            bottom: -12px;
            left: 50%;
            background: $commonColor;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            content: '';
            opacity: 0;
            transition: 0.4s;
          }

          &::before {
            position: absolute;
            bottom: -5px;
            left: 60%;
            width: 12px;
            height: 5px;
            background: $beforeColor;
            content: '';
            opacity: 0;
            transition: 0.4s;
          }
          &:hover::after {
            opacity: 1;
          }
          &:hover::before {
            opacity: 1;
          }
        }
      }
    }
  }
}

// ======================
//     nav part end
// ======================
// ======================
//     banner part start
// ======================

.banner {
  background: $bannerColor;
  padding-top: 195px;
  padding-bottom: 131px;
  .banner--container {
    display: flex;

    .banner__left {
      width: 50%;
      margin-top: 40px;
      h1 {
        font-size: 65px;
        font-weight: 600;
      }
      p {
        color: #1d1d1f;
        margin-top: 11px;
        margin-bottom: 40px;
      }

      a {
        background: $commonColor;
        padding: 12px 15px;
        color: white;
        font-size: $parafontSize;
        i {
          margin-left: 10px;
        }
      }
    }
    .banner__right {
      width: 50%;
      position: relative;
      .banner__right__img {
        img {
          position: absolute !important;
          top: 0;
          left: 20%;
          width: 468px;
          height: 634px;
          border-radius: 7px;
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          position: relative;
        }
        .rectengleOverlay {
          width: 45px;
          height: 200px;
          background: $rectencle;
          position: absolute;
          top: -6px;
          right: 25px;
        }

        .rating {
          display: flex;
          background: #f1f1f1;
          color: $paraColor;
          justify-content: space-between;
          border-radius: 35px;
          align-items: center;
          padding: 10px 10px;
          position: absolute;
          top: 100%;
          left: 0%;

          box-shadow: 0 1px 1px 0px;

          .rating__icon {
            color: $commonColor;
            font-size: 11px;
            margin-left: 20px;
          }
        }

        .goodQualityProduct {
          display: flex;
          align-items: center;

          background: #f1f1f1;
          border-radius: 35px;
          padding: 5px 15px 5px 8px;
          position: absolute;
          top: 50%;
          right: -30px;
          box-shadow: 0 1px 1px 0px;
          .goodQualityProduct__img {
            position: static !important;
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          small {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
// ======================
//     banner part end
// ======================
// ==============================
//     bannerBottom part start
// ==============================

.bannerBottom {
  margin-top: 40px;
  .bannerBottom__text {
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 25px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
  }

  .bannerBottom__text--regulerWeight {
    font-weight: 400;
  }
  .bannerBottom__text--boldWeight {
    font-weight: 500;
  }
}
// ==============================
//     bannerBottom part end
// ==============================
